html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: #141414; /* Dark background color */
    color: #F76F72; /* Main text color */
    margin: 0; /* Remove default body margin */
    
}

.gig-button{
    z-index: 100;
    position: fixed;
    bottom: 40px;
    background-color: #F76F72;    
    border: none;
    border-radius: 20px 5px 20px 5px;
    padding: 20px 20px;
    font-family: 'nanum Gothic Coding', monospace;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.gig-button:hover{
    background-color: #3f3f3f;
    color: #F76F72;
}
.button-cont{
    display: flex;
    justify-content: center;
}

#header {
    height: 100vh; /* Full height of the viewport */
}

nav {
    width: 100%;
    height: 20vh; /* 10% of the viewport height */
    background-color: #141414; /* Darker navigation background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-div {
    flex: 2;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 20px;
    padding: 20px 30px;
    background-color: #3f3f3f;
    color: whitesmoke;
    font-family: 'Nanum Gothic Coding', monospace;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
}
input:hover{
    padding: 25px 35px;
}
input:active{
    padding: 25px 35px;
}
.nav-list {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.nav-list li {
    margin: 10px 20px;
}

.nav-list a {
    color: #F76F72;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

a:hover {
    font-size: 23px;
   
}

.nav-list a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #F76F72;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

.nav-list a:hover::after {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px;
    height: 80vh; /* 90% of the viewport height */
    overflow: hidden; /* Prevent content overflow */
}

.main>div {
    width: 545px;
}

h1 {
    font-size: 80px;
}

.header-text {
    max-width: 600px; /* Adjust as needed */
}

.right-section {
    
    align-items: center;
}

.gif {
    max-width: 100%;
    max-height: 100%;
}

.text {
    display: block; /* Ensure each line is on a new line */
}

.first-text {
    color: #3f3f3f; /* Dark background color */
}

.sec-text {
    color: #F76F72;
}
#explore{
    padding: 80px 0;
   
}
h2{
    font-size: 130px;
    font-weight: bolder;
    margin-bottom: 160px;
    margin-top: 0px;
}
.works-container{
    margin-top: 40px;
    height: auto;
    width: auto;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.gig-template {
    background-image: linear-gradient(#F76F72, #fff);
    height: 430px;
    width: 300px;
    border-radius: 30px;
    text-align: center; 
    overflow: hidden; 
    transition: transform 0.5s;
}
.gig-template:hover{
    transform: scale(1.2);
}

.template-img {
    width: 200px;
    height: min-content; 
}

.gig-template h3 {
    margin: 10px 0; 
    font-size: 23px; 
    color: #141414;
}
.gig-template p{
    color: #141414;
}
.gig-template a{
    color: #141414;
    text-decoration: underline;
}
.more-button{
    padding: 30px 90px;
    background-color: #141414;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 100px;
    transition: transform 0.5s;
}
.more-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
